APP=
NODE_ENV=
PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT= 
DOTENV_LOG=
DOTENV_KEY=
LOG_LEVEL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=  
JWT_REFRESH_EXPIRATION=  
ENCRYPTION_KEY=
TZ_BD=
TZ=
TRUST_PROXY=
IP_API_KEY=
PASSWORD_PRIVATE_KEY=
PATH_PRIVATE_KEY=
ENCRYPTION_KEY=

HOST_FRONT=
HOST_FRONT_EMAIL=

NAME_MAIL=
USER_MAIL=
PASS_MAIL=

MAIL_INFO=
MAIL_CONTACT=
BASE_URL=

GITHUB_URL=
LINKEDIN_URL=

API_KEY=

N8N_URL=